@media screen and (max-width: 768px) {
  p {
    color: #3d3d3d;
    font-size: 3.5vw;
    line-height: 115%;
  }
  h1 {
    color: #3d3d3d;
    font-size: 10.2vw;
    word-spacing: 0.35vw;
  }
  h2 {
    color: #3d3d3d;
    font-size: 2.09vw;
  }
  h3 {
    color: #3d3d3d;
    font-size: 1.669vw;
  }
  .navbar,
  .scr1main,
  .scr2main,
  .podval,
  .p1abus,
  .h1abus,
  .h2abus,
  .h3abus,
  .scr2abus,
  .scr1abus,
  .scr4abus,
  .scr5abus,
  .p2abus {
    display: none;
  }

  .psevdosection1,
  .psevdosection3,
  .psevdosection4,
  .psevdosection5,
  .psevdopodval,
  .psevdosection6,
  .scr2abusp,
  .scr4abusp,
  .scr5abusp {
    display: block;
  }
  .scr1abus {
    height: 350vw;
  }
}
