@keyframes movemenu1 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(3vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-3vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(3vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu2 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-1vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu3 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(4vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-4vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(4vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu4 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-2vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -3vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(2vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 3vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-2vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu5 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-2vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(2vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu6 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-3vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -3vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(3vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 3vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-3vw, 0vw)
      rotate(-360deg);
  }
}
