/* навбар анимация наведения */
.logomenu:hover {
  transform: scale(1.05);
  filter: brightness(40%);
}
.abusmenu:hover {
  transform: scale(1.05);
  filter: brightness(40%);
}
.afimenu:hover {
  transform: scale(1.05);
  filter: brightness(40%);
}
.onlmenu:hover {
  transform: scale(1.05);
  filter: brightness(40%);
}
.shmenu:hover {
  transform: scale(1.05);
  filter: brightness(40%);
}
.tickmenu:hover {
  transform: scale(1.05);
  filter: brightness(40%);
}

/* анимация движения картинок */
@keyframes movemenu1 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(3vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-3vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(3vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu2 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-1vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu3 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-4vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(4vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-4vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu4 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-2vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -3vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(2vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 3vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-2vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu5 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(1vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movemenu6 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-3vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -3vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(3vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 3vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-3vw, 0vw)
      rotate(-360deg);
  }
}
/* главный экран остановка и затемнение */
.shimgmenu:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.onlimgmenu:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.afimgmenu:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.tickimgmenu:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.premimgmenu:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.abusimgmenu:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}

/* подвал анимации */
@keyframes movepodval1 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(1vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movepodval2 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-1vw, 0vw)
      rotate(-360deg);
  }
}

@keyframes movepodval3 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-2vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(2vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-2vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes movepodval4 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(1vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes movepodval5 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-1vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes movepodval6 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(1vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes movepodval7 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(1vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes movepodval8 {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-1vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-1vw, 0vw)
      rotate(-360deg);
  }
}
.logopodval:hover {
  animation-play-state: paused;
  transform: scale(1.05);
  filter: brightness(70%);
}
.onlpodval:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.afipodval:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.shpodval:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.tickpodval:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.abuspodval:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}

/* афиша премьера текст */
@keyframes moveh1afi {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(0vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(0vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(0vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes moveh2afi {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(0vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(0vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(0vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes moveh3afi {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(0vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(0vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(0vw, 0vw)
      rotate(-360deg);
  }
}

/* афиша зины */
@keyframes movezin1 {
  0% {
    opacity: 100%;
  }
  50% {
    opacity: 20%;
  }
  100% {
    opacity: 100%;
  }
}

/* афиша кнопка */
#buttonafi1:hover {
  transform: scale(1.02);
  filter: brightness(70%);
  cursor: pointer;
}

/* афиша плакаты */
.poster1:hover {
  transform: scale(1.1);
  z-index: 10000;
  filter: brightness(70%);
}
.poster2:hover {
  transform: scale(1.1);
  z-index: 10000;
  filter: brightness(70%);
}
.poster3:hover {
  transform: scale(1.1);
  z-index: 10000;
  filter: brightness(70%);
}
.poster4:hover {
  transform: scale(1.1);
  z-index: 10000;
  filter: brightness(70%);
}
.poster5:hover {
  transform: scale(1.1);
  z-index: 10000;
  filter: brightness(70%);
}
.poster6:hover {
  transform: scale(1.1);
  z-index: 10000;
  filter: brightness(70%);
}
.poster7:hover {
  transform: scale(1.1);
  z-index: 10000;
  filter: brightness(70%);
}
/* карточка товара */
.buttoncard:hover {
  transform: scale(1.02);
  filter: brightness(70%);
  cursor: pointer;
}
#card1size1:hover {
  transform: scale(1.1);
  color: #740606;
  cursor: pointer;
}
#card1size2:hover {
  transform: scale(1.1);
  color: #740606;
  cursor: pointer;
}
#card1size3:hover {
  transform: scale(1.1);
  color: #740606;
  cursor: pointer;
}
#card1size4:hover {
  transform: scale(1.1);
  color: #740606;
  cursor: pointer;
}
#card1size5:hover {
  transform: scale(1.1);
  color: #740606;
  cursor: pointer;
}
.cardsug1:hover {
  transform: scale(1.02);
  filter: brightness(70%);
}
.cardsug2:hover {
  transform: scale(1.02);
  filter: brightness(70%);
}
.cardsug3:hover {
  transform: scale(1.02);
  filter: brightness(70%);
}

/* страница магазина */
@keyframes move1sh {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-3vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 0vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-3vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes move2sh {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(2vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(2vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes move3sh {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-2vw, -2vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-2vw, -2vw)
      rotate(-360deg);
  }
}
@keyframes move4sh {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(5vw, -5vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 0vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(5vw, -5vw)
      rotate(-360deg);
  }
}
@keyframes move5sh {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-3vw, -3vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 0vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-3vw, -3vw)
      rotate(-360deg);
  }
}
.case1:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.tshirt1:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.tshirt2:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.tshirt3:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.book1:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.plastinka1:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.shopper1:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.shopper2:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.stickers1:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.cap1:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}
.certificate:hover {
  animation-play-state: paused;
  filter: brightness(70%);
}

/* о нас */
.facade:hover {
  background-image: url(../images/facadecol.svg);
  width: 31.5vw;
  height: 25.9vw;
  animation-play-state: paused;
}
.silent:hover {
  background-image: url(../images/silentcol.svg);
  width: 23.5vw;
  height: 31.7vw;
  animation-play-state: paused;
}
.dark:hover {
  background-image: url(../images/darkcol.svg);
  width: 31.5vw;
  height: 25.9vw;
  animation-play-state: paused;
}
.scene:hover {
  background-image: url(../images/scenecol.svg);
  width: 31.5vw;
  height: 25.9vw;
  animation-play-state: paused;
}
.texture:hover {
  background-image: url(../images/texturecol.svg);
  width: 23.5vw;
  height: 31.7vw;
  animation-play-state: paused;
}
@keyframes move1abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-3vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 0vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-3vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes move2abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(2vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(2vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes move3abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(2vw, 2vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 1vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -1vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(2vw, 2vw)
      rotate(-360deg);
  }
}
@keyframes move4abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(2vw, -1vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 0vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 0vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(2vw, -1vw)
      rotate(-360deg);
  }
}
@keyframes move5abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(-2vw, -2vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 0vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(-1vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 0vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(-2vw, -2vw)
      rotate(-360deg);
  }
}
@keyframes moveh1abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(0vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(0vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(0vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes moveh2abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(0vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, 2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(0vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, -2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(0vw, 0vw)
      rotate(-360deg);
  }
}
@keyframes moveh3abus {
  0% {
    transform: translate(0%, 0%) rotate(0deg) translate(0vw, 0vw) rotate(0deg);
  }
  25% {
    transform: translate(0%, 0%) rotate(90deg) translate(0vw, -2vw)
      rotate(-90deg);
  }
  50% {
    transform: translate(0%, 0%) rotate(180deg) translate(0vw, 0vw)
      rotate(-180deg);
  }
  75% {
    transform: translate(0%, 0%) rotate(270deg) translate(0vw, 2vw)
      rotate(-270deg);
  }
  100% {
    transform: translate(0%, 0%) rotate(360deg) translate(0vw, 0vw)
      rotate(-360deg);
  }
}
.abusbutton:hover {
  transform: scale(1.02);
  filter: brightness(70%);
  cursor: pointer;
}
@keyframes movepicabus {
  0% {
    background-image: url(../images/preview.svg);
  }
  25% {
    background-image: url(../images/preview2.svg);
  }
  50% {
    background-image: url(../images/preview.svg);
  }
  75% {
    background-image: url(../images/preview3.svg);
  }
  100% {
    background-image: url(../images/preview.svg);
  }
}
