body {
  font-family: Helvetica;
  background-color: #f7f7f7;
  position: relative;
  /* background-image: url(../images/о\ нас\ итог.jpg); */
  width: 100%;
  /* height: 2991px;
  z-index: -10000;
  opacity: 0.5; */
}

p {
  color: #3d3d3d;
  font-size: 1.25vw;
  line-height: 115%;
}
h1 {
  color: #3d3d3d;
  font-size: 6.25vw;
  word-spacing: 5vw;
}
h2 {
  color: #3d3d3d;
  font-size: 2.09vw;
}
section {
  width: 100vw;
  overflow: hidden;
}

/* главная страница */
/* навбар */
.navbar {
  height: 5.27vw;
  position: fixed;
  background-color: #f1f1f1;
  opacity: 0.9;
  z-index: 10000;
}
.logomenu {
  position: absolute;
  color: #740606;
  font-weight: bold;
  font-size: 1.4vw;
  margin-top: 2vw;
  margin-left: 1.85vw;
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.abusmenu {
  position: absolute;
  color: #3d3d3d;
  font-size: 1.4vw;
  margin-top: 2vw;
  margin-left: 52.25vw;
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.afimenu {
  position: absolute;
  color: #3d3d3d;
  font-size: 1.4vw;
  margin-top: 2vw;
  margin-left: 58.57vw;
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.onlmenu {
  position: absolute;
  color: #3d3d3d;
  font-size: 1.4vw;
  margin-top: 2vw;
  margin-left: 66.14vw;
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.shmenu {
  position: absolute;
  color: #3d3d3d;
  font-size: 1.4vw;
  margin-top: 2vw;
  margin-left: 81vw;
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
}
.tickmenu {
  position: absolute;
  color: #3d3d3d;
  font-size: 1.4vw;
  margin-top: 2vw;
  margin-left: 89.3vw;
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

/* первый экран */
.scr1main {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 63.611vw;
}
.h1main {
  position: absolute;
  margin-top: 5.2vw;
  margin-left: 5.3vw;
}
.tiremain {
  position: absolute;
  width: 8.5vw;
  margin-left: 37.4vw;
  margin-top: 8.1vw;
}
.h2main {
  position: absolute;
  margin-top: 5.2vw;
  margin-left: 58.4vw;
}
.h3main {
  position: absolute;
  margin-top: 12.3vw;
  margin-left: 13.7vw;
}
.h4main {
  position: absolute;
  margin-top: 17.5vw;
  margin-left: 61vw;
}
.p1main {
  position: absolute;
  margin-top: 22.6vw;
  margin-left: 24.3vw;
}
.shimgmenu {
  position: absolute;
  margin-top: 7.8vw;
  margin-left: 82.8vw;
  width: 7.36vw;
  transition: transform 0.3s ease;
  animation: movemenu1 10s linear infinite;
}
.onlimgmenu {
  position: absolute;
  margin-top: 22.5vw;
  margin-left: 1.9vw;
  width: 19.65vw;
  animation: movemenu2 9s linear infinite;
}
.afimgmenu {
  position: absolute;
  margin-top: 32.9vw;
  margin-left: 29.9vw;
  width: 11.73vw;
  animation: movemenu3 13s linear infinite;
}
.tickimgmenu {
  position: absolute;
  margin-top: 40vw;
  margin-left: 50vw;
  width: 19.86vw;
  animation: movemenu4 10s linear infinite;
}
.premimgmenu {
  position: absolute;
  margin-top: 29.1vw;
  margin-left: 78.1vw;
  width: 20.07vw;
  animation: movemenu5 9s linear infinite;
}
.abusimgmenu {
  position: absolute;
  margin-top: 49.6vw;
  margin-left: 18.05vw;
  width: 7.36vw;
  animation: movemenu6 12s linear infinite;
}

/* второй экран */
.scr2main {
  width: 100vw;
  overflow: hidden;
  position: relative;
  height: 61.11vw;
}
.komandaarina {
  margin-top: 5.3vw;
  margin-left: 1.9vw;
  position: absolute;
  width: 96.25vw;
}
.komandadaria {
  margin-top: 23.4vw;
  margin-left: 1.9vw;
  position: absolute;
  width: 96.25vw;
}
.komandanastya {
  margin-top: 41.6vw;
  margin-left: 1.9vw;
  position: absolute;
  width: 96.25vw;
}

/* подвал */
.podval {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 22.9vw;
  margin-top: -3vw;
}
.onlpodval {
  position: absolute;
  margin-top: 7vw;
  margin-left: 3.1vw;
  width: 11.94vw;
  animation: movepodval1 9s linear infinite;
}
.tickpodval {
  position: absolute;
  margin-top: 6.9vw;
  margin-left: 25.7vw;
  width: 11.94vw;
  animation: movepodval2 7s linear infinite;
}
.afipodval {
  position: absolute;
  margin-top: 7.6vw;
  margin-left: 52.9vw;
  width: 11.94vw;
  animation: movepodval3 10s linear infinite;
}
.abuspodval {
  position: absolute;
  margin-top: 15.5vw;
  margin-left: 57vw;
  width: 11.94vw;
  animation: movepodval4 7s linear infinite;
}
.shpodval {
  position: absolute;
  margin-top: 8.7vw;
  margin-left: 85.1vw;
  width: 11.94vw;
  animation: movepodval5 7s linear infinite;
}
.katepodval {
  position: absolute;
  margin-top: 12.2vw;
  margin-left: 70.7vw;
  width: 11.94vw;
  animation: movepodval6 11s linear infinite;
}
.kamilapodval {
  position: absolute;
  margin-top: 14.5vw;
  margin-left: 11.2vw;
  width: 11.94vw;
  animation: movepodval7 5s linear infinite;
}
.annapodval {
  position: absolute;
  margin-top: 13.3vw;
  margin-left: 37.5vw;
  width: 11.94vw;
  animation: movepodval8 9s linear infinite;
}
.logopodval {
  position: absolute;
  color: #740606;
  font-weight: bold;
  font-size: 1.4vw;
  margin-top: 19vw;
  margin-left: 1.9vw;
  text-decoration: none;
  white-space: nowrap;
  transition: transform 0.3s ease;
}

/* страница афиша */
.scr1afi {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 32vw;
}
.h1afi {
  position: absolute;
  margin-top: 8.7vw;
  margin-left: 1.9vw;
  animation: moveh1afi 8s linear infinite;
}
.h2afi {
  position: absolute;
  margin-top: 17vw;
  margin-left: 56.9vw;
  animation: moveh2afi 6s linear infinite;
}
.h3afi {
  position: absolute;
  margin-top: 25.2vw;
  margin-left: 18vw;
  animation: moveh3afi 10s linear infinite;
}
.scr2afi {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 54.2vw;
}
.zin1 {
  position: absolute;
  width: 20.5vw;
  margin-left: -2.6vw;
  margin-top: 4.1vw;
  animation: movezin1 5s linear infinite;
}
.zin2 {
  position: absolute;
  width: 20.5vw;
  margin-left: 54.3vw;
  margin-top: 5.9vw;
  animation: movezin1 7s linear infinite;
}
.zin3 {
  position: absolute;
  width: 20.5vw;
  margin-left: 38vw;
  margin-top: 29.4vw;
  animation: movezin1 2s linear infinite;
}
.zin4 {
  position: absolute;
  width: 20.5vw;
  margin-left: 82.3vw;
  margin-top: 39.2vw;
  animation: movezin1 8s linear infinite;
}
.zin5 {
  position: absolute;
  width: 20.5vw;
  margin-left: 25.8vw;
  margin-top: 0.7vw;
  animation: movezin1 5s linear infinite;
}
.zin6 {
  position: absolute;
  width: 20.5vw;
  margin-left: 82.3vw;
  margin-top: 2.3vw;
  animation: movezin1 4s linear infinite;
}
.zin7 {
  position: absolute;
  width: 20.5vw;
  margin-left: 9.4vw;
  margin-top: 20.9vw;
  animation: movezin1 9s linear infinite;
}
.zin8 {
  position: absolute;
  width: 20.5vw;
  margin-left: 62.2vw;
  margin-top: 23.5vw;
  animation: movezin1 3s linear infinite;
}
.zin9 {
  position: absolute;
  width: 20.5vw;
  margin-left: -2.8vw;
  margin-top: 37vw;
  animation: movezin1 8s linear infinite;
}
.scr3afi {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 53vw;
}
.page1 {
  position: absolute;
  width: 77.8vw;
  margin-left: 11vw;
  margin-top: 3.6vw;
}
#containerafi1 {
  position: absolute;
  margin-left: 11vw;
  margin-top: 3.6vw;
  width: 77.8vw;
  height: 50vw;
  overflow: hidden;
}
.card {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  transform: scale(0.9);
  transition: all 0.4s ease-in-out;
  object-fit: cover;
}
.card.show {
  opacity: 1;
  transform: scale(1);
}
.scr4afi {
  display: flex;
  position: relative;
  justify-content: center;
  margin-top: 2vw;
}
#buttonafi1 {
  width: 13.5vw;
  transition: transform 0.3s ease;
}
.scr5afi {
  height: 9vw;
  display: flex;
  position: relative;
  justify-content: flex-start;
}
.p1afi {
  margin-left: 1.9vw;
  margin-top: 5.4vw;
}
.scr6afi {
  height: 57vw;
  position: relative;
  overflow: hidden;
  width: 100vw;
}
.poster1 {
  position: absolute;
  width: 23.7vw;
  margin-left: 11.5vw;
  margin-top: 3.9vw;
  transition: transform 0.3s ease;
}
.poster2 {
  position: absolute;
  width: 23.7vw;
  margin-left: 1.9vw;
  margin-top: 14.5vw;
  transition: transform 0.3s ease;
}
.poster3 {
  position: absolute;
  width: 23.7vw;
  margin-left: 55.1vw;
  margin-top: 1.9vw;
  transition: transform 0.3s ease;
}
.poster4 {
  position: absolute;
  width: 23.7vw;
  margin-left: 33.9vw;
  margin-top: 9.8vw;
  transition: transform 0.3s ease;
}
.poster5 {
  position: absolute;
  width: 23.7vw;
  margin-left: 74.4vw;
  margin-top: 12.5vw;
  transition: transform 0.3s ease;
}
.poster6 {
  position: absolute;
  width: 23.7vw;
  margin-left: 27.4vw;
  margin-top: 22.3vw;
  transition: transform 0.3s ease;
}
.poster7 {
  position: absolute;
  width: 23.7vw;
  margin-left: 53.5vw;
  margin-top: 20.4vw;
  transition: transform 0.3s ease;
}
/* карточка товара */
.scr1card {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 60.5vw;
}
.cardphoto {
  position: absolute;
  margin-left: 1.8vw;
  margin-top: 8.55vw;
  width: 47.84vw;
}
.cardmaintext {
  position: absolute;
  margin-top: 8.75vw;
  margin-left: 58.4vw;
}
.cardtext {
  position: absolute;
  margin-left: 58.4vw;
  margin-top: 12.8vw;
}
#card1size1 {
  position: absolute;
  margin-left: 58.4vw;
  margin-top: 17.3vw;
  cursor: pointer;
  transition: transform 0.3s ease;
  user-select: none;
}
#card1size2 {
  position: absolute;
  margin-left: 63.8vw;
  margin-top: 17.3vw;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#card1size3 {
  position: absolute;
  margin-left: 67.8vw;
  margin-top: 17.3vw;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#card1size4 {
  position: absolute;
  margin-left: 72.1vw;
  margin-top: 17.3vw;
  cursor: pointer;
  transition: transform 0.3s ease;
}
#card1size5 {
  position: absolute;
  margin-left: 75.8vw;
  margin-top: 17.3vw;
  cursor: pointer;
  transition: transform 0.3s ease;
}
.cardprice {
  position: absolute;
  margin-left: 58.4vw;
  margin-top: 25.9vw;
}
.buttoncard {
  position: absolute;
  margin-top: 29.4vw;
  margin-left: 58.4vw;
  width: 13.5vw;
  transition: transform 0.3s ease;
}
.scr2card {
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
  height: 4vw;
}
.cardh22 {
  margin-left: 2vw;
  margin-top: 0.5vw;
}
.scr3card {
  position: relative;
  display: flex;
  margin-top: 0.76vw;
  justify-content: space-around;
  gap: 2.7vw;
  overflow: hidden;
  width: 100vw;
  height: 34vw;
}
.cardsug1,
.cardsug2,
.cardsug3 {
  transition: transform 0.3s ease;
}
/* для анимации выбора размера */
.toggle-color {
  color: #3d3d3d;
  cursor: pointer;
  transition: color 0.3s ease;
}
.color-active {
  color: #740606;
}

/* страница магазина */
.scr1shop {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 100vw;
}
.tshirt1 {
  position: absolute;
  margin-top: 9.7vw;
  margin-left: 36vw;
  animation: move1sh 9s linear infinite;
  transition: transform 0.3s ease;
}
.plastinka1 {
  position: absolute;
  margin-top: 27.5vw;
  margin-left: 1.9vw;
  animation: move2sh 6s linear infinite;
  transition: transform 0.3s ease;
}
.shopper1 {
  position: absolute;
  margin-top: 24.9vw;
  margin-left: 70.3vw;
  animation: move3sh 7s linear infinite;
  transition: transform 0.3s ease;
}
.tshirt2 {
  position: absolute;
  margin-top: 69.7vw;
  margin-left: 13.8vw;
  animation: move4sh 6s linear infinite;
  transition: transform 0.3s ease;
}
.book1 {
  position: absolute;
  margin-top: 62vw;
  margin-left: 58.4vw;
  animation: move5sh 8s linear infinite;
  transition: transform 0.3s ease;
}
.scr2shop {
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
  height: 14.6vw;
}
.shp1 {
  margin-left: 1.9vw;
  margin-top: 8.5vw;
}
.scr3shop {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 37.5vw;
}
.certificate {
  width: 96.25vw;
  transition: transform 0.3s ease;
}
.scr4shop {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 109vw;
}
.cap1 {
  position: absolute;
  margin-top: 10.6vw;
  margin-left: 36vw;
  animation: move6sh 8s linear infinite;
  transition: transform 0.3s ease;
  animation: move1sh 8s linear infinite;
}
.stickers1 {
  position: absolute;
  margin-top: 30.3vw;
  margin-left: 1.9vw;
  animation: move7sh 8s linear infinite;
  transition: transform 0.3s ease;
  animation: move2sh 7s linear infinite;
}
.shopper2 {
  position: absolute;
  margin-top: 33.5vw;
  margin-left: 70.25vw;
  animation: move8sh 8s linear infinite;
  transition: transform 0.3s ease;
  animation: move3sh 9s linear infinite;
}
.tshirt3 {
  position: absolute;
  margin-top: 69.7vw;
  margin-left: 13.8vw;
  animation: move9sh 8s linear infinite;
  transition: transform 0.3s ease;
  animation: move4sh 6s linear infinite;
}
.case1 {
  position: absolute;
  margin-top: 75.8vw;
  margin-left: 58.4vw;
  animation: move10sh 8s linear infinite;
  transition: transform 0.3s ease;
  animation: move5sh 8s linear infinite;
}

/* о нас */
.scr1abus {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 90vw;
}
.p1abus {
  position: absolute;
  margin-top: 10vw;
  margin-left: 1.9vw;
}
.facade {
  background-image: url(../images/facade.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 31.5vw;
  height: 25.9vw;
  margin-left: 58.4vw;
  margin-top: 10vw;
  animation: move1abus 9s linear infinite;
}
.silent {
  background-image: url(../images/silent.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 23.5vw;
  height: 31.7vw;
  margin-left: 5.9vw;
  margin-top: 22.2vw;
  animation: move2abus 11s linear infinite;
}
.dark {
  background-image: url(../images/dark.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 31.5vw;
  height: 25.9vw;
  margin-left: 34.2vw;
  margin-top: 36.2vw;
  animation: move3abus 8s linear infinite;
}
.scene {
  background-image: url(../images/scene.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 31.5vw;
  height: 25.9vw;
  margin-left: 10vw;
  margin-top: 63vw;
  animation: move4abus 5s linear infinite;
}
.texture {
  background-image: url(../images/texture.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: absolute;
  width: 23.5vw;
  height: 31.7vw;
  margin-left: 70.5vw;
  margin-top: 48.5vw;
  animation: move5abus 10s linear infinite;
}
.scr2abus {
  position: relative;
  overflow: hidden;
  width: 100vw;
  height: 27.7vw;
}
.h1abus {
  position: absolute;
  margin-top: 0.7vw;
  margin-left: 1.4vw;
  animation: moveh1abus 7s linear infinite;
}
.h2abus {
  position: absolute;
  margin-top: 9.4vw;
  margin-left: 22.1vw;
  animation: moveh2abus 11s linear infinite;
}
.h3abus {
  position: absolute;
  margin-top: 18.2vw;
  margin-left: 4vw;
  animation: moveh3abus 9s linear infinite;
}
.scr3abus {
  position: relative;
  display: flex;
  justify-content: flex-start;
  overflow: hidden;
  width: 100vw;
  height: 13.9vw;
}
.p2abus {
  position: absolute;
  margin-top: 3.7vw;
  margin-left: 1.9vw;
}
.scr4abus {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 50.1vw;
}
.preview1 {
  background-image: url(../images/preview.svg);
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
  width: 76.4vw;
  height: 46.9vw;
  overflow: hidden;
  animation: movepicabus 2s steps(1) infinite;
}
.scr5abus {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  width: 100vw;
  height: 6.25vw;
}
.abusbutton {
  position: relative;
  width: 13.5vw;
  transition: transform 0.3s ease;
}
